:root {
  --text-color: #667085;
  --main-color: #8E2424;
  --title-color: #101828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}



body {
  width: 100%;
  height: 100vh;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}


.logo img {
  margin-left: 35px;
  cursor: pointer;
}


.menus {
  margin-right: auto;
  align-items: center;
  margin-left: 150px;

}

.menus.links a {
  margin-bottom: 2rem;


}

.links a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 2rem;


}



.entrar {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  margin-right: 10px;

}

.cadastrar {
  color: #FFF;
  background-color: var(--main-color);
  font-size: 0.9rem;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  margin-right: 90px;

}


.cabecalho {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 7rem 0;
}

/* display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
  gap: 20px; */




/* span */
.cabecalho__sobre {
  color: var(--main-color);
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;


}

/* h1 */
.cabecalho__titulo {

  font-size: 2rem;


}

/* font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px; */



/* p */

.cabecalho__texto {


  color: var(--text-color);
  max-width: 50%;
  text-align: center;
  line-height: 1.5rem;


}

/* font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150px;
  color: #667085; */


.metrica {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  padding: 0 8rem;
}

/* repeat(4,1fr); 
 margin-right: 50px;
  margin-left: 250px;*/



.metrica_div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.metrica h1 {
  color: var(--main-color);
  font-size: 3rem;
}

.metrica span {
  color: var(--title-color);
  font-weight: 500;
  color: #101828;
}

.metrica p {
  color: var(--text-color);
  line-height: 140%;
  font-size: 90%;
}

/* parte metricas/vagas */

.vagas {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0rem 0rem 0rem;
  gap: 2rem;
}



.vagas--abertas {

  color: var(--main-color);
  font-family: 'Inter';
  font-weight: 600;
  font-size: 1rem;
}

.vagas--titulo {

  font-size: 2.25rem;
}


.vagas--descricao {

  color: var(--text-color);
  font-size: 1.25rem;
}

.vagas--imagem {
  padding: 4rem 0rem 0rem;

}


.vagas--imagem img {

  border-radius: 15px;
  box-shadow: 5px 9px var(--text-color);
}

/* vagas abertas da professora */

.vagas-abertas {
  padding-top: 4rem;
}

.vagas-abertas span.area-principal {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: var(--title-color);
}

.vaga {
  border: 1px solid #EAECF0;
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: var(--title-color);
}

.vaga span.titulo-vaga {
  font-weight: 500;
  margin-bottom: 16px;
}

.vaga .informacoes {
  margin-top: 1rem;
  font-size: 90%;
  color: var(--text-color);
  display: flex;
  gap: 2rem;
}

/* depoimentos */

.depoimentos--area {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  /* background: #F2D8D8; */
  background: rgba(196, 25, 25, 0.03);
  padding: 3rem 3rem;
  width: 70%;
  margin: auto;
  text-align: center;

}

span#titulo {
  color: #8E2424;
  font-size: 0.8rem;
  font-weight: 600;
}

.depoimentos p {
  font-size: 2rem;
  font-weight: 500;
}

span#nome {
  font-weight: 500;
  font-size: 1rem;
  color: #101828;
}


span#prof {
  color: #667085;
  font-size: 0.8rem;
  font-weight: 400;
}

.depoimentos img {
  width: 56px;
  height: 56px;

}


/* footer  */

.footer {
  background-color: #F9FAFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 5rem 0rem;
}

input#contato {

  margin-right: 1rem;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  border-radius: 5px;
  width: 260px;
  height: 38px;
}

.footer p {
  font-weight: 600;
  font-size: 2.25rem;
  color: #101828;
}

span#oportunidades {
  font-weight: 400;
  font-size: 1.25rem;
  color: #667085;
}

span#copyright {
  color: #98A2B3;
  font-weight: 400;
  font-size: 1rem;
}