:root {
  --text-color: #667085;
  --main-color: #8E2424;
  --title-color: #101828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}



body {
  width: 100%;
  height: 100vh;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}


.logo {

  display: flex;
}


.menus {
  display: flex;
  align-items: center;
  


}

.menus.links a{
  margin-bottom: 2rem;
}

.links a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 2rem;
  
}


.buttons {
  padding: 0.8rem 1rem;
  cursor: pointer;

  border-radius: 0.5rem;
  background: none;
  color: var(--text-color);
  font-size: 0.9rem;

}

button.entrar {

  background-color: var(--main-color);
  color: #FFF;
}