:root {
  --text-color: #667085;
  --main-color: #8E2424;
  --title-color: #101828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}



body {
  width: 100%;
  height: 100vh;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}


.logo {

  display: flex;
}

.logo img {

  cursor: pointer;
}


.menus {
  display: flex;
  align-items: center;

}

.menus.links a {
  margin-bottom: 2rem;

}

.links a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 2rem;

}



.entrar {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;

}

.cadastrar {
  color: #FFF;  
  background-color: var(--main-color);
  font-size: 0.9rem;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
}
